NODE_ENV=development
API_PORT=3000
API_CORS_ORIGIN=http://localhost:4200
DATABASE_URL=postgresql://postgres:password@localhost:5432/travel_planner?schema=public
FUEL_PRICE_PETROL_INR=105
FUEL_PRICE_DIESEL_INR=94
